# IDE
.idea
.vscode
workspace.code-workspace

dist
build
sbmlsim.egg-info
cover
.tox
.cache
.coverage
coverage.xml
.coverage*
.benchmark
*.pyc
*~
__pycache__

# cached model state
*.xml.dat
*.state

.ipynb_checkpoints/
.pytest_cache

# documentation
docs_builder/_build/

src/sbmlsim/examples/experiments/glucose/results/DoseResponseExperiment/DoseResponseExperiment_fig1.svg
src/sbmlsim/examples/experiments/repressilator/RepressilatorExperiment/RepressilatorExperiment_task_tc.h5
src/sbmlsim/examples/experiments/midazolam/results/
src/sbmlsim/examples/experiments/midazolam/results_fit/

# sedml
src/sbmlsim/combine/examples/results/
src/sbmlsim/examples/experiments/repressilator/results/
src/sbmlsim/examples/experiments/covid/results/
src/sbmlsim/examples/experiments/covid/omex/results/
src/sbmlsim/examples/experiments/midazolam/results/

src/sbmlsim/combine/results
src/sbmlsim/combine/examples/l1v4/sbmlsim/

