.idea
dist
build
sbmlsim.egg-info
cover
.tox
.cache
.coverage
coverage.xml
.coverage*
.benchmark
*.pyc
*~
__pycache__

# cached model state
*.xml.dat
*.state

.ipynb_checkpoints/
.pytest_cache

# documentation
docs_builder/_build/


sbmlsim/examples/experiments/repressilator/RepressilatorExperiment/RepressilatorExperiment_task_tc.h5

sbmlsim/examples/experiments/midazolam/results/
sbmlsim/examples/experiments/midazolam/results_fit/
